<template>
  <div>
    <h2>Add Advert</h2>
    <hr />
    <div class="form-container">
      <template v-if="errors.length > 0">
        <p v-for="(error, index) in errors" :key="index">
          {{ error }}
        </p>
      </template>
      <form @submit.prevent="addCampaign">
        <div class="form-group">
          <label for="name">Campaign Name:</label>
          <input
            type="text"
            class="form-control"
            v-model="name"
            id="name"
            placeholder="Campaign name"
          />
        </div>
        <div class="form-group">
          <label for="fromDate">Start Date:</label>
          <input
            type="date"
            class="form-control"
            v-model="fromDate"
            id="fromDate"
            placeholder="Campaign start date"
          />
        </div>
        <div class="form-group">
          <label for="endDate">End Date:</label>
          <input
            type="date"
            class="form-control"
            v-model="toDate"
            id="endDate"
            placeholder="Campaign end date"
          />
        </div>
        <div class="form-group">
          <label for="dailyBudget">Daily Budget:</label>
          <input
            type="text"
            class="form-control"
            v-model="dailyBudget"
            id="dailyBudget"
            placeholder="Campaign Daily Budget"
          />
        </div>
        <div class="form-group">
          <label for="totalBudget">Total Budget:</label>
          <input
            type="text"
            class="form-control"
            v-model="totalBudget"
            id="totalBudget"
            placeholder="Campaign Total Budget"
          />
        </div>
        <div class="form-group">
          <label for="image">Campaign Images</label>
          <input
            type="file"
            accept="image/*"
            multiple
            class="form-control"
            @change="fileChange($event.target.files)"
            id="image"
            placeholder="Campaign end date"
          />
        </div>
        <button type="submit">Add campaign</button>
      </form>
    </div>
  </div>
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
      errors: [],
      name: "",
      dailyBudget: "",
      totalBudget: "",
      fromDate: "",
      images: null,
      toDate: "",
    };
  },
  methods: {
    fileChange(files) {
      this.images = files;
    },
    addCampaign() {
      this.errors = [];
      if (!this.name) {
        this.errors.push("Please provide a name");
      }
      if (!this.fromDate) {
        this.errors.push("Please provide a start date");
      }
      if (!this.toDate) {
        this.errors.push("Please provide an end date");
      }

      if (!this.dailyBudget) {
        this.errors.push("Please provide a daily budget");
      }
      if (!this.totalBudget) {
        this.errors.push("Please provide a total budget");
      }

      if (new Date(this.fromDate) > new Date(this.toDate)) {
        this.errors.push("The start date should be before the end date");
      }

      if (!this.images) {
        this.errors.push("Please provide images");
      }

      if (this.errors.length > 0) {
        return false;
      }

      const formData = new FormData();

      for (const i in Object.keys(this.images)) {
        formData.append("images[]", this.images[i]);
      }

      formData.append("name", this.name);
      formData.append("from", this.fromDate);
      formData.append("dailyBudget", this.dailyBudget);
      formData.append("totalBudget", this.totalBudget);
      formData.append("to", this.toDate);

      axios
        .post("http://ads.test:8086/api/add-campaign", formData, {
          headers: { "content-type": "multipart/form-data" },
        })
        .then(() => {
          this.$router.push({ name: "list-campaigns" });
        })
        .catch((err) => {
          if (err.response) {
            console.log(err.response);
          }
        });
    },
  },
};
</script>
<style>
.form-container {
  border: 2px solid purple;
  border-radius: 5px;
  padding: 5px;
}
.form-group {
  display: block;
}
.form-control {
  margin: 10px 10px;
}
</style>
