<template>
  <div>
    <h2>Edit Capmiain</h2>

    <div v-if="selectedCampaign">
      <div class="form-container">
        <template v-if="errors.length > 0">
          <p v-for="(error, index) in errors" :key="index">
            {{ error }}
          </p>
        </template>
        <form @submit.prevent="editCampaign">
          <div class="form-group">
            <label for="name">Campaign Name:</label>
            <input
              type="text"
              class="form-control"
              v-model="selectedCampaign.name"
              id="name"
              placeholder="Campaign name"
            />
          </div>
          <div class="form-group">
            <label for="fromDate">Start Date:</label>
            <input
              type="date"
              class="form-control"
              v-model="selectedCampaign.from"
              id="fromDate"
              placeholder="Campaign start date"
            />
          </div>
          <div class="form-group">
            <label for="endDate">End Date:</label>
            <input
              type="date"
              class="form-control"
              v-model="selectedCampaign.to"
              id="endDate"
              placeholder="Campaign end date"
            />
          </div>
          <div class="form-group">
            <label for="dailyBudget">Daily Budget:</label>
            <input
              type="text"
              class="form-control"
              v-model="selectedCampaign.daily_budget"
              id="dailyBudget"
              placeholder="Campaign Daily Budget"
            />
          </div>
          <div class="form-group">
            <label for="totalBudget">Total Budget:</label>
            <input
              type="text"
              class="form-control"
              v-model="selectedCampaign.total_budget"
              id="totalBudget"
              placeholder="Campaign Total Budget"
            />
          </div>

          <div class="form-group">
            <label style="display: block;" for="image"
              >Campaign Images: (If you want to change the images of the
              campaign choose new images, else leave as is.)</label
            >
            <input
              type="file"
              accept="image/*"
              multiple
              class="form-control"
              @change="fileChange($event.target.files)"
              id="image"
              placeholder="Campaign end date"
            />
          </div>

          <button type="submit">Edit campaign</button>
        </form>
      </div>
    </div>
    <div v-else>
      Campaign Not Found
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "EditCampaign",
  data() {
    return {
      selectedId: null,
      selectedCampaign: null,
      errors: [],
      images: null,
    };
  },
  methods: {
    editCampaign() {
      this.errors = [];
      if (!this.selectedCampaign.name) {
        this.errors.push("Please provide a name");
      }
      if (!this.selectedCampaign.from) {
        this.errors.push("Please provide a start date");
      }
      if (!this.selectedCampaign.to) {
        this.errors.push("Please provide an end date");
      }

      if (
        !this.selectedCampaign.total_budget ||
        !this.selectedCampaign.daily_budget
      ) {
        this.errors.push("You must have a daily and total budget");
      }

      if (
        new Date(this.selectedCampaign.from) >
        new Date(this.selectedCampaign.to)
      ) {
        this.errors.push("The start date should be before the end date");
      }

      if (this.errors.length > 0) {
        return false;
      }

      const formData = new FormData();

      if (this.images) {
        for (const i in Object.keys(this.images)) {
          formData.append("images[]", this.images[i]);
        }
      }

      formData.append("name", this.selectedCampaign.name);
      formData.append("from", this.selectedCampaign.from);
      formData.append("to", this.selectedCampaign.to);
      formData.append("dailyBudget", this.selectedCampaign.daily_budget);
      formData.append("totalBudget", this.selectedCampaign.total_budget);

      axios
        .post(
          "http://ads.test:8086/api/campaign/" + this.selectedId + "/edit",
          formData,
          { headers: { "content-type": "multipart/form-data" } }
        )
        .then(() => {
          this.$router.push({ name: "list-campaigns" });
        })
        .catch((err) => {
          console.log(err.response);
        });
    },
    fileChange(files) {
      this.images = files;
    },
    getCampaign() {
      axios
        .get("http://ads.test:8086/api/campaign/" + this.selectedId)
        .then((res) => {
          this.selectedCampaign = res.data.campaign;
        })
        .catch((err) => {
          console.log(err.response);
        });
    },
  },
  mounted() {
    this.selectedId = this.$route.params.id;
    this.getCampaign();
  },
};
</script>

<style scoped></style>
