<template>
  <div>
    <ul class="menu">
      <li class="menu-item">
        <router-link class="menu-link" :to="{ name: 'home' }">Home</router-link>
      </li>
      <li class="menu-item">
        <router-link class="menu-link" :to="{ name: 'add-campaign' }"
          >Add Advert Campaign</router-link
        >
      </li>
      <li class="menu-item">
        <router-link class="menu-link" :to="{ name: 'list-campaigns' }"
          >List Campaigns</router-link
        >
      </li>
    </ul>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.menu-item {
  list-style: none;
}

.menu {
  display: flex;
  justify-content: space-evenly;
}

.menu-link {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  color: orangered;
}
</style>
