<template>
  <div>
    <div v-if="activeCampaign" class="campaign-preview-overlay">
      <div class="campaign-preview-content">
        <div>
          <button
            @click="activeCampaign = null"
            style="float: right; margin: 5px 5px;"
          >
            X
          </button>
        </div>
        <h4 style="text-align: center">{{ activeCampaign.name }} images</h4>
        <hr />
        <div class="campaign-images">
          <div v-for="(image, i) of activeCampaign.images" :key="i">
            <img :src="image" width="150" height="150" />
          </div>
        </div>
      </div>
    </div>
    <h2 class="page-header">List Campaign</h2>
    <hr />

    <table class="campaign-list">
      <thead>
        <tr>
          <th>Name</th>
          <th>From</th>
          <th>To</th>
          <th>Daily Budget</th>
          <th>Total Budget</th>
          <th>Preview</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <single-campaign
          v-on:preview="previewPopUp(campaign)"
          v-for="campaign in campaigns"
          :campaign="campaign"
          :key="campaign.id"
        ></single-campaign>
      </tbody>
    </table>
  </div>
</template>

<script>
import SingleCampaign from "./SingleCampaign.vue";
import axios from "axios";
export default {
  data() {
    return {
      campaigns: [],
      activeCampaign: null,
    };
  },
  methods: {
    fetchCampaigns() {
      axios
        .get("http://ads.test:8086/api/list-campaigns")
        .then((res) => {
          this.campaigns = res.data.campaigns;
        })
        .catch((err) => {
          console.log(err.response);
        });
    },
    previewPopUp(campaign) {
      this.activeCampaign = campaign;
    },
  },
  components: {
    SingleCampaign,
  },
  mounted() {
    this.fetchCampaigns();
  },
};
</script>

<style scoped>
.campaign-list {
  border: 1px solid grey;
  width: 70%;
  border-radius: 0.2em;
  margin: 0 auto;
}
th {
  padding: 5px;
}
.campaign-preview-overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(43, 31, 31, 0.4);

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.campaign-preview-content {
  border: 1px solid grey;
  background-color: white;
  width: 70%;
  height: 50%;
  overflow-y: auto;
}

div.campaign-images {
  display: grid;
  grid-template-columns: auto auto auto;
  overflow-x: auto;
  padding: 10px;
}

div.campaign-images div img {
  border-radius: 5px;
}

.page-header {
  color: orangered;
  text-align: center;
  font-family: sans-serif;
}
</style>
