<template>
  <tr class="campaign-item">
    <td>
      {{ campaign.name }}
    </td>
    <td>
      {{ campaign.from }}
    </td>
    <td>
      {{ campaign.to }}
    </td>
    <td>${{ campaign.daily_budget }}</td>
    <td>${{ campaign.total_budget }}</td>
    <td>
      <button @click="onView()" class="preview-button">
        Preview Creative
      </button>
    </td>
    <td>
      <router-link
        :to="{ name: 'edit-campaign', params: { id: campaign.id } }"
        class="edit-button"
      >
        Edit
      </router-link>
    </td>
  </tr>
</template>

<script>
export default {
  props: ["campaign"],
  methods: {
    onView() {
      this.$emit("preview");
    },
  },
};
</script>

<style scoped>
/* .campaign-item {
} */

.campaign-item h2 {
  color: orangered;
  font-family: sans-serif;
}

td {
  text-align: center;
  border-bottom: 1px solid black;
  padding: 10px;
}

button {
  border-width: 0;
  cursor: pointer;
  border-radius: 2px;
  padding: 10px;
}

button.preview-button {
  color: honeydew;
  background-color: orangered;

  transition: 100ms linear;
}

button.preview-button:hover {
  background-color: orange;
  transition: 100ms linear;
}

a.edit-button {
  color: honeydew;
  background-color: purple;
  transition: 100ms linear;
  border-width: 0;
  cursor: pointer;
  border-radius: 2px;
  padding: 10px;
  text-decoration: none;
  font-family: sans-serif;
}

a.edit-button:hover {
  transition: 100ms linear;
  background-color: rebeccapurple;
}
</style>
